{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    {% if form.errors %}
        <p style="color:red;">Your username and password didn't match. Please try again.</p>
    {% endif %}


    {% if user.is_authenticated %}
        <h3 style="color:green">You are Already Signed In...</h3>
    {% else %}


    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn waves-effect waves-light" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <br><p><a href="{% url 'password_reset' %}">Lost Password?</a></p>
    {% endif %}
</div>
{% endblock %}