body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;

  .background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363846;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 400px;

    .eyeWrapper {
      overflow: hidden;
      position: relative;
      background-color: #d8d8d8;
      width: 150px;
      height: 150px;
      transform: rotate(45deg);

      .eye {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: white;
        transition: all 0.5s ease-in-out;
        top: 25px;
        left: 25px;
        animation: eye 5s ease-in-out infinite;

        .center {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          background-color: #617983;
        }
      }
    }

    .lidBottomWrapper,
    .lidTopWrapper {
      position: absolute;
      width: 450px;
      height: 300px;
      top: 100px;
      animation: botLid 5s ease-in-out infinite;

      .lid {
        overflow: hidden;
        position: relative;
        margin: 100px auto;
        width: 230px;
        height: 200px;
        &:before {
          position: absolute;
          margin: -60px 10px;
          padding: 50px;
          left: 0;
          right: 0;
          border-radius: 50%;
          box-shadow: 0 0 0 300px #363846;
          content: "";
        }
      }
    }

    .lidTopWrapper {
      top: 0;
      transform: rotate(180deg);
      animation: topLid 5s ease-in-out infinite;
    }
  }
}

@keyframes eye {
  0%,15%, 55% {
		transform: rotate(-45deg) translateX(0);
	}
	20%, 30% {
		transform: rotate(-45deg) translate(-25px, 5px) scale(0.9);
	}
	35%, 50% {
		transform: rotate(-45deg) translate(25px, 10px) scale(0.9);
	}
}

@keyframes topLid {
  0%,
  10%,
  20%,
  25%,
  35%,
  50%,
  56%,
  75%,
  85% {
    top: 0;
  }
  15%,
  30%,
  52%,
  80% {
    top: 50px;
  }
}

@keyframes botLid {
  0%,
  10%,
  20%,
  25%,
  35%,
  50%,
  56%,
  75%,
  85% {
    top: 100px;
  }

  15%,
  30%,
  52%,
  80% {
    top: 50px;
  }
}