{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <h1><a href="{% url 'post_list' %}">Django Girls Blog</a></h1>
    </div>

    {% if post.published_date %}
        <p>Published Date : {{post.published_date}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></p>

        <div class="post">
            <h1>{{ post.title }}</h1>
                <hr>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% else %}
        <p>Created Date : {{post.created_date}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                 
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a></p>
        <div class="post">
            <h1>{{ post.title }}</h1>
                <hr>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>                                  
    {% endif %}
{% endblock %}