{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <h1><a href="{% url 'post_list' %}">Django Girls Blog</a></h1>
    </div>
    {% for post in posts %}
            <p class="date">published: {{ post.published_date }}</p>
            <h1><u><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></u></h1>
            <p>{{ post.text|linebreaksbr }}</p><br>
            <hr>
    {% endfor %}
{% endblock %}