{% extends "base.html" %}

{% block title %}Picha!{% endblock %}

{% block headcss %}
  <style>
    .card-image {
      height:200px;
    }
    .linkable {
      cursor: pointer;  
    }
    .iconify { width: 30px; height: 30px; color: red; }
  </style>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="images row">
      {% for photo in photo_list %}
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{photo.image_url}}" alt="{{photo.title}}">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4"> <a href="{{photo.link}}" title="link to photo"><i class="mdi-content-link left waves-light" title="Link to photo"></i></a> 
                <i class="mdi-navigation-more-vert right activator linkable" title="More details"></i></span>
            </div>
            <div class="card-reveal">
              {% if user.is_authenticated %}
                <a href="{{photo.get_absolute_url}}" title="Delete"><span class="iconify" data-icon="mdi-delete-forever" data-inline="false"></span></a>
              {% endif %}
                <span class="card-title grey-text text-darken-4">{{photo.title}} <i class="mdi-navigation-close right"></i></span>
              {{photo.description|safe}}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="waves-effect">
              <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><i class="mdi-navigation-chevron-left"></i></a>
            </li>
          {% else %}
            <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
          {% endif %}


          
          {% if page_obj.number|add:'-4' > 1 %}
          <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
          {% endif %}
      
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
      
          {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
          {% endif %}



          {% if page_obj.has_next %}
            <li class="waves-effect">
              <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><i class="mdi-navigation-chevron-right"></i></a>
            </li>
          {% else %}
            <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
    });
  </script>
{% endblock %}