{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 jumbotron" style="text-align:center">
        <h3 style="color:blue">Enter Your 10th Exam Marks...</h3>
        {% if success_msg %}<p style="color:green">{{ success_msg }}</p>{% endif %}
        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}