{% extends 'base.html' %}
{% block content %}
<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var piechart_options = {'title':'How Much Pizza I Ate Last Night',
                       'width':600,
                       'height':550};

        var piechart = new google.visualization.PieChart(document.getElementById('chart_div'));
        piechart.draw(data, piechart_options);

        //Bar Chart
        var barchart_options = {'title':'How Much Pizza I Ate Last Night',
                       'width':600,
                       'height':550};
        var barchart = new google.visualization.BarChart(document.getElementById('chart_div2'));
        barchart.draw(data, barchart_options);
      }


    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div class="row jumbotron">
      <div id="chart_div" class="col-md-6"></div>
      <div id="chart_div2" class="col-md-6"></div>
    </div>
  </body>
</html>
{% endblock %}