{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 style="color:green;">Hi {{user.username}}!</h3>
        <div class="container">
            <div class="jumbotron">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Django Project</h1>
            </div>

            <div id="emoji">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-6 col-md-3">
                            <img class="gif" src="{% static 'images/gif/panda.gif' %}">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img class="gif" src="{% static 'images/gif/poo.gif' %}">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img class="gif" src="{% static 'images/gif/unicorn.gif' %}">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <img class="gif" src="{% static 'images/gif/chicken.gif' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p style="color:red">You are not logged in ...</p>
    {% endif %}

    <div class="container">
            <div class="jumbotron">
                <img src="{% static 'images/1.jpg' %}" class="img-thumbnail" height="400" weidth="350" alt="Not Found">
                <video width="930" height="540" controls>
                    <source src="{% static 'images/2.mp4' %}" type="video/mp4"></source>
                </video>
            </div>
        </div>
{% endblock %}
