{% extends "base.html" %}
{% block content %}
<h1>Hello</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form>
{% endblock %}