{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <table>
    <tr><h4>First Name : {{obj.first_name}}</h4></tr><br>
    <tr><h4>Last Name : {{obj.last_name}}</h4></tr><br>
    <tr><h4>Email Id : {{obj.email}}</h4></tr><br>
    <tr><h4>Address : {{obj.address}}</h4></tr><br>
        {% if user.is_superuser %}
        
        {% else %}
            <tr><h4>Image : <br><img src="{{ obj.image.url }}" class='rounded' height="200" width="250" alt="Not Found"></h4></tr>
        <!-- <img src="{{ names.photo.url }}" height="200" width="250"> -->
        {% endif %}
    </table>
    {% else %}
        <p style="color:red">You are not logged in</p>
    {% endif %}

{% endblock %}