{% extends 'base.html' %}
{% block content %}
<html>
    <head></head>
    <body>
        <div class="container">
            <h3 style="color:green;margin-left:450px">Results Data</h3><br>
            <table border="2px">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Oriya</th>
                    <th>English</th>
                    <th>Hin/San</th>
                    <th>Math</th>
                    <th>Science</th>
                    <th>History</th>
                    <th>Geography</th>
                </tr>
                {% for d in data %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.oriya}}</td>
                    <td>{{d.english}}</td>
                    <td>{{d.hin_san}}</td>
                    <td>{{d.math}}</td>
                    <td>{{d.science}}</td>
                    <td>{{d.history}}</td>
                    <td>{{d.geography}}</td>
                </tr>
                {% endfor %}
            </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if data.has_previous %}
                            <a href="?page={{ data.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ data.number }} of {{ data.paginator.num_pages }}.
                        </span>

                        {% if data.has_next %}
                            <a href="?page={{ data.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
        </div>
    </body>
</html>
{% endblock %}