{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Sign up</h2>
    {% if user.is_authenticated %}
        <h3 style="color:green">You are Already Signed In...</h3>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn waves-effect waves-light" type="submit">SignUp</button>
    </form>

</div>
{% endblock %}  