{% extends "base.html" %}

{% block title %}Weather!{% endblock %}
    
{% block headcss %}
    <style>
        .iconify { width: 30px; height: 30px; color: red; }
    </style>
{% endblock %}
{% block content %}
    <section class="hero is-primary ">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <p style="text-align:center">**Enter City Names Carefully**</p>
    <section class="section">
        <div class="container" ng-app>
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            {% if error_message %}<p style="color:red; text-align:center">*{{ error_message }}</p>{% endif %}

    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° C</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                {% if user.is_authenticated %}
                                <a href="delete/{{city_weather.city}}" title="delete"><span class="iconify" data-icon="mdi-delete-forever" data-inline="false"></span></a>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

