{% extends "base.html" %}

{% block title %}Picha Feedback!{% endblock %}

{% block headcss %}
  <style>
    .errorlist{
      color:#ff0000;
    }
  </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col s12">
      <h3>Feedback</h3>
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}